<h1 class="float-start mb-3 text-primary">Carro Bem Guardado</h1>
<div class="text-center">
    <div class="g-5 float-end mt-2">
        <button class="btn btn-outline-success">Marcar Entrada</button>
        <button class="btn btn-outline-danger">Marcar Saída</button>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Horário de chegada</th>
            <th>Horário de saída</th>
            <th>Duração</th>
            <th>Tempo Cobrado (hora)</th>
            <th>Preço</th>
            <th>Valor a pagar</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
