 ControleEstacionamento/.vs
 ControleEstacionamento/ ControleEstacionamento/obj
 ControleEstacionamento/ ControleEstacionamento/bin
/ ControleEstacionamento/.vs
/ ControleEstacionamento/ ControleEstacionamento/obj
/ ControleEstacionamento/ ControleEstacionamento/obj/Debug
/ ControleEstacionamento/ ControleEstacionamento/obj/Debug/net8.0
/ ControleEstacionamento/.vs
/ ControleEstacionamento/ ControleEstacionamento/obj
