<form method="post" asp-action="MarcarEntrada">
    <input class="form-control" type="text" name="placa" placeholder="Digite a placa do veículo" required />
    <button type="submit" class="btn btn-success mt-2">Marcar entrada</button>
</form>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary float-end">Voltar</a>