<div class="text-center">
    <h1 class="text-primary">Tabela de Preços</h1>
    <h4>Preços válidos de 01/01/2025 à 31/01/2025</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tempo de Permanência</th>
            <th>Preço (R$)</th
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Até 30 minutos</td>
            <td>1,00</td>
        </tr>
        <tr>
            <td>Acima de 30 min até 1h:10</td>
            <td>2,00</td>
        </tr>
        <tr>
            <td>Acima de 1h:10 até 2h:10</td>
            <td>3,00</td>
        </tr>
        <tr>
            <td>Acima de 2h:10 até 3h:10</td>
            <td>4,00</td>
        </tr>
        <tr>
            <td>Acima de 3h:10 até 4h:10</td>
            <td>5,00</td>
        </tr>
        <tr>
            <td>Acima de 4h:10 até 5h:10</td>
            <td>6,00</td>
        </tr>
    </tbody>

</table>
</div>
